In [10]:
'''
Функуия выбирает из слова среднюю букву, если число букв в слове нечетное; две средних буквы, если число букв четное
'''
def get_core_word(word):
    if len(word) % 2 == 0:
        return word[len(word) // 2 - 1] + word[len(word) // 2]
    else:
        return word[len(word) // 2]

In [11]:
get_core_word('test')

4
2

'es'

In [12]:
get_core_word('testing')

7
3

't'

In [20]:
'''
Функция последовательно запрашивает числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел
'''

def none_zero():  
    sum_number = 0    
    while True:        
        new_number = int(input('Введите новое число: '))
        sum_number += new_number        
        if new_number == 0:
            break
    return f'Сумма чисел: {sum_number}'

In [21]:
none_zero()

Введите новое число:  1
Введите новое число:  4
Введите новое число:  6
Введите новое число:  0

'Сумма чисел: 11'

In [22]:
none_zero()

Введите новое число:  0

'Сумма чисел: 0'

In [33]:
def get_dating():
    if len(boys) == len(girls):
        couple = zip(sorted(boys),sorted(girls))
        print('Идеальные пары')
        for names in couple:
            print(names[0] + ' и ' + names[1])
    else:
        return 'Кто-то может остаться без пары!'

In [34]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

get_dating()

Идеальные пары
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [35]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

get_dating()

'Кто-то может остаться без пары!'

In [74]:
'''
Функция рассчитает среднюю температуру за период в Цельсиях(в вводных данные температуры представлены в фаренгейтах) для каждой страны
'''

def fahr_to_cels(temp):
    return (temp - 32) / 1.8

def avrg_temp():
    for land, temp in countries_temperature:
        print(f'{land} -- {fahr_to_cels(sum(temp) / len(temp)):0.1f}\N{DEGREE SIGN}С')

In [75]:
countries_temperature = [

['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

avrg_temp()

Thailand -- 23.9°С
Germany -- 13.8°С
Russia -- 3.7°С
Poland -- 12.0°С

In [98]:
'''
Функция высчитывает среднее значение просмотров на пользователя из логов по количеству просмотренных страниц.
Среднее тут это отношение суммы всех просмотров к количеству уникальных пользователей.
'''
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
   ' 2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11'
]

def view_stat():
    total_user = []
    count_view = 0    
    for date_view in stream:
        temp_date = date_view.split(',')
        if temp_date[1] not in total_user:
            total_user.append(temp_date[1])            
        count_view += int(temp_date[2])        
    return count_view / len(total_user)

In [99]:
view_stat()

23.25

In [102]:
def view_stat_v2():
    user_set = set()
    count_view = 0    
    for date_view in stream:
        temp_date = date_view.split(',')
        user_set.add(temp_date[1])            
        count_view += int(temp_date[2])        
    return count_view / len(user_set)

In [103]:
view_stat_v2()

23.25

In [120]:
user_input = '10 15 15 103 200 200 200 1 1 1 1 1 2 2 2'.split()

# temp_date = user_input.split(' ')
# print(temp_date)

In [121]:
{num for num in user_input if user_input.count(num) > 1}

{'1', '15', '2', '200'}

In [122]:
list({num for num in user_input if user_input.count(num) > 1})

['1', '15', '200', '2']

In [126]:
sorted(list({int(num) for num in user_input if user_input.count(num) > 1}))

[1, 2, 15, 200]

In [131]:
', '.join(sorted(list({num for num in user_input if user_input.count(num) > 1})))

'1, 15, 2, 200'

In [130]:
result = sorted(list({int(num) for num in user_input if user_input.count(num) > 1}))
print(', '.join(str(num) for num in result))

1, 2, 15, 200